{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <main>

        <div class="form-wrapper offset-lg-4 col-lg-4 offset-md-1 col-md-10 d-flex flex-column">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <h1 class="mb-3">
                        Vous est connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </h1>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connexion :</h1>
                <label for="inputUsername">Nom d'utilisateur :</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                <label for="inputPassword">Mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-lg btn-primary" type="submit">
                    Connexion
                </button>

                <a href="{{ path('app_register') }}" class="my-4">Créer un compte</a>
                <a href="{{ path('app_forgot_password_request') }}" class="my-2">Mot de passe oublié ?</a>
            </form>

        </div>

    </main>

{% endblock %}
