<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="/build/app.css">
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>

{% if header is defined and header == 'fullheight' %}
<header class="flex-column fullheight d-flex">
    {% else %}
    <header class="flex-column d-flex">
        {% endif %}

        {% block header %}
            <div class="topbar d-flex justify-content-between align-items-center">
                <div class="logo col-lg-2">
                    <a href="{{ path('home') }}"><img src="{{ asset('images/snowboardinglogo.jpg') }}"
                                                      alt="Logo du site"></a>
                </div>
                <div class="menu col-lg-4 d-flex justify-content-around">
                    <a href="">Accueil</a><span>|</span>
                    {% if not app.user %}
                        <a href="{{ path('app_register') }}">Inscription</a><span>|</span>
                        <a href="{{ path('app_login') }}">Connexion</a><span>|</span>
                    {% else %}
                        <a href="{{ path('app_logout') }}">Ajouter une figure</a><span>|</span>
                        <a href="{{ path('app_logout') }}">Déconnexion</a><span>|</span>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

    </header>

    {% block body %}{% endblock %}

    {% block deletemodal %}

    <!-- Confirm delete modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Confirmer la suppresion de l'élément ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <a id="delete-submit" href="" class="btn btn-primary">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block footer %}

        <footer class="desktop align-items-center d-none d-md-flex">

            <p class="copyright">Copyright © {{ 'now'|date('Y') }} </p>

        </footer>

        <footer class="mobile align-items-center d-md-none">

            <div class="icon-wrapper d-flex justify-content-between offset-md-1 col-md-10">
                <a href="{{ path('home') }}"><i class="icon-home3"></i></a>
                {% if not app.user %}
                    <a href="{{ path('app_login') }}"><i class="icon-enter"></i></a>
                {% else %}
                    <a href="{{ path('app_logout') }}"><i class="icon-exit"></i></a>
                {% endif %}
            </div>

        </footer>

    {% endblock %}
</body>
</html>
