{% extends'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('add-collection-entity') }}
    {{ encore_entry_script_tags('forms') }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}


    <main class="single-trick add-trick">

        <div class="row justify-content-center">

            {% for message in app.flashes('maxSizeMessage') %}
                <div class="alert alert-success my-4">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success my-4">
                    {{ message }}
                </div>
            {% endfor %}

            <button id="display-medias" class="btn btn-lg btn-primary my-3">Voir médias</button>

        </div>
        {{ form_start(trickForm, {'attr' : {'class':'d-flex align-items-center flex-sm-column flex-row offset-lg-2 col-lg-8', 'id' : 'trick-form'}}) }}

        <section class="row my-5 flex-column" style="width: 100%;">
            {{ form_row(trickForm.name,{'attr' : {'class' : 'col-lg-6'}}) }}
            {{ form_row(trickForm.description,{'attr' : {'class' : 'col-lg-12'}}) }}
            {{ form_row(trickForm.group,{'attr' : {'class' : 'col-lg-6'}}) }}
            {{ form_row(trickForm.mainImageFile, {'attr': {'class': 'form-control-file col-lg-6'}}) }}
            {{ form_row(trickForm._token) }}

            <section id="media-row" class="row image-videos justify-content-between my-5 mx-0">

                <div class="images col-lg-5 p-0">
                    <button type="button"
                            id="add-another-image" class="btn btn-lg btn-primary">Ajouter une image
                    </button>

                    {# store the prototype on the data-prototype attribute #}
                    <ul class="image-list pl-0"
                        data-prototype='{{ form_widget(trickForm.trickImages.vars.prototype) }}'
                        data-widget-tags="{{ '<li></li>'|e }}"
                        data-widget-counter="">
                    </ul>
                </div>

                <div class="videos col-lg-5 p-0">
                    <button type="button"
                            id="add-another-video" class="btn btn-lg btn-primary">Ajouter une video
                    </button>

                    {# store the prototype on the data-prototype attribute #}
                    <ul class="video-list pl-0"
                        data-prototype='{{ form_widget(trickForm.trickVideos.vars.prototype) }}'
                        data-widget-tags="{{ '<li></li>'|e }}"
                        data-widget-counter="">
                    </ul>
                </div>


            </section>



            <div class="submit d-flex justify-content-end">
                <button type="submit" class="btn btn-lg btn-primary ml-2">Sauvegarder</button>
            </div>
        </section>


        {{ form_end(trickForm, {'render_rest' : false}) }}

    </main>


{% endblock %}


