{% extends'base.html.twig' %}

{% block header %}
    {{ parent() }}
    <div class="banner home">
        <img src="{{ asset('images/homebanner.jpg') }}" alt="home banner">
    </div>
{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <main class="container home">

        <section id="tricks-list" class="row d-flex justify-content-around">

            {% for trick in tricks %}
                <div class="single-trick-preview col-lg-2">
                    {% if trick.trickImages is defined %}
                        <img class="trick-image" src="{{ asset('images/tricks/' . trick.trickImages.collection[0]['path']) }}" alt="Image de figure">
                    {% else %}
                        <img class="trick-image" src="http://via.placeholder.com/300x150" alt="Image provisoire de figure">
                    {% endif %}
                    <div class="bottom-row d-flex justify-content-between align-items-center my-2">
                        <a href="" class="trick-name d-flex align-items-center m-0">{{ trick.name }}</a>
                        <div class="icons">
                            <a href=""><i class="icon-pencil"></i></a>
                            <a href=""><i class="icon-bin"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>

    </main>


{% endblock %}