{% extends'base.html.twig' %}

{% block javascripts %}

    {{ encore_entry_script_tags('modify-trick') }}
    {{ encore_entry_script_tags('delete-modal') }}

{% endblock %}

{% block header %}
    {{ parent() }}
    <div class="banner fullheight modify-trick d-flex justify-content-center align-items-center">
        {% if trick.mainImage is defined and trick.mainImage is not null %}
            <img src="{{ asset('images/tricks/' ~ trick.mainImage) }}" alt="home banner">
        {% else %}
            {% if trick.trickImages is defined %}
                <img src="{{ asset('images/tricks/' ~ trick.trickImages|first.path) }}" alt="home banner">
            {% else %}
                <img src="{{ asset('images/homebanner.jpg') }}" alt="home banner">
            {% endif %}
        {% endif %}
        <h1>{{ trick.name }}</h1>

        <div class="trick-action py-2 px-1 d-flex justify-content-around">
            <a data-toggle="modal" data-target="#main-image-modal" href="#"><i class="icon-pencil"></i></a>
            <a href="#" data-toggle="modal" data-target="#delete-modal"
               data-href="{{ path('deleteMainImageTrick', {id: trick.id}) }}"><i class="icon-bin"></i></a>
        </div>

    </div>
{% endblock %}

{% block body %}


<main class="single-trick modify-trick">

    <div class="row justify-content-center">

        {% for message in app.flashes('maxSizeMessage') %}
            <div class="alert alert-success my-4">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-4">
                {{ message }}
            </div>
        {% endfor %}

        <button id="display-medias" class="btn btn-lg btn-primary my-3">Voir médias</button>

    </div>

    <div id="media-row" class="row image-videos justify-content-around my-5">
        {% if trick.trickImages is defined %}
            {% for image in trick.trickImages %}
                <div class="single-image col-lg-2">
                    <img class="single-image-img" src="{{ asset('images/tricks/' ~ image.path) }}"
                         alt="Trick image">
                    <div class="trick-action py-2 px-1 d-flex justify-content-around mt-4">
                        <a data-imageid="{{ image.id }}" data-toggle="modal" data-target="#single-image-modal"
                           href="#"><i
                                    class="icon-pencil single-image-change"></i></a>
                        <a href="#" data-toggle="modal" data-target="#delete-modal"
                           data-href="{{ path('deleteSingleImageTrick', {id: trick.id, trickImage_id: image.id}) }}"><i
                                    class="icon-bin"></i></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if trick.trickVideos is defined %}
            {% for video in trick.trickVideos %}
                <div class="single-video col-lg-2">
                    {{ video.embed|raw }}
                    <div class="trick-action py-2 px-1 d-flex justify-content-around mt-3">
                        <a data-videoid="{{ video.id }}" data-toggle="modal" data-target="#video-modal" href="#"><i
                                    class="icon-pencil"></i></a>
                        <a href="#" data-toggle="modal" data-target="#delete-modal"
                           data-href="{{ path('deleteTrickVideo', {id: trick.id, trickVideo_id: video.id}) }}"><i
                                    class="icon-bin"></i></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>


    <section class="row">

        <div class="wrapper d-flex col-lg-12 justify-content-around my-4">

            <button data-toggle="modal" data-target="#single-image-modal" id="add-single-image-button"
                    class="btn btn-lg btn-primary">Ajouter une image
            </button>

            <button data-toggle="modal" data-target="#video-modal" id="add-video-button"
                    class="btn btn-lg btn-primary">Ajouter une vidéo
            </button>

        </div>

    </section>

    <section class="row my-5">
        {{ form_start(trickForm, {'attr' : {'class':'d-flex align-items-center flex-sm-column flex-row offset-lg-3 col-lg-6', 'id' : 'trick-form'}}) }}
        {{ form_row(trickForm.name,{'attr' : {'class' : 'col-lg-10'}}) }}
        {{ form_row(trickForm.description,{'attr' : {'class' : 'col-lg-12'}}) }}
        {{ form_row(trickForm.group,{'attr' : {'class' : 'col-lg-4'}}) }}
        <div class="submit d-flex justify-content-end">
            <a id="delete-trick-submit" class="btn btn-lg btn-danger ml-2" href="#" data-toggle="modal"
               data-target="#delete-modal" data-href="{{ path('deleteTrick', {name: trick.name}) }}">Supprimer</a>
            <button type="submit" class="btn btn-lg btn-primary ml-2">Sauvegarder</button>
        </div>
        {{ form_end(trickForm, {'render_rest' : false}) }}
    </section>


    {% block deletemodal %}
    {{ parent() }}
    {% endblock %}

    <!-- Main Image modal -->
    <div class="modal fade" id="main-image-modal" tabindex="-1" role="dialog" aria-labelledby="main-image-modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    {{ form_start(trickForm, {'attr' : {'class':'d-flex align-items-center flex-column flex-sm-row'}}) }}
                    {{ form_row(trickForm.mainImage, {'attr': {'class': 'form-control-file.'}}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    {{ form_end(trickForm, {'render_rest' : false}) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Single Image modal -->
    <div data-imageid="" class="modal fade" id="single-image-modal" tabindex="-1" role="dialog"
         aria-labelledby="single-image-modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    {{ form_start(trickSingleImageForm, {'attr' : {'class':'d-flex align-items-center flex-column flex-sm-row', 'id' : 'single-image-form'}}) }}
                    {{ form_row(trickSingleImageForm.path, {'attr': {'class': 'form-control-file'}}) }}
                    {{ form_row(trickSingleImageForm.id, {'attr' : {'id' : 'hidden-single-image-id'}}) }}
                </div>
                <div class="single-image-modify-submit modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button id="single-image-form-submit" type="submit" class="btn btn-primary ">Sauvegarder</button>
                    {{ form_end(trickSingleImageForm) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Video modal -->
    <div data-videoid="" class="modal fade" id="video-modal" tabindex="-1" role="dialog"
         aria-labelledby="video-modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    {{ form_start(trickVideoForm, {'attr' : {'class':'col d-flex align-items-center flex-column flex-sm-row', 'id' : 'video-form'}}) }}
                    {{ form_row(trickVideoForm.embed) }}
                    {{ form_row(trickVideoForm.id, {'attr:' : {'id' : 'hidden-video-id'}}) }}
                </div>
                <div class="video-modify-submit modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button id="video-form-submit" type="submit" class="btn btn-primary ">Sauvegarder</button>
                    {{ form_end(trickVideoForm) }}
                </div>
            </div>
        </div>
    </div>


</main>


{% endblock %}


